<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzd.giligili.dao.UserRoleDao">

    <insert id="addUserRole" parameterType="com.zzd.giligili.domain.auth.UserRole">
        insert into
            t_user_role(
            userId,
            roleId,
            createTime
        ) values (
            #{userId},
            #{roleId},
            #{createTime}
        )
    </insert>

    <select id="getUserRoleByUserid" parameterType="java.lang.Long"
            resultType="com.zzd.giligili.domain.auth.UserRole">
        select
            tur.*,
            tar.name roleName,
            tar.code roleCode
        from
            t_user_role tur
            left join t_auth_role tar on tur.roleId = tar.id
        where
            tur.userId = #{userId}
    </select>

</mapper>