<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzd.giligili.dao.UserFollowingDao">


    <sql id="Base_Column_List">
        id,userId,followingId,
        groupId,createTime
    </sql>
    <insert id="addUserFollowing" parameterType="com.zzd.giligili.domain.UserFollowing"
            useGeneratedKeys="true" keyProperty="id">
        insert into
            t_user_following(
                userId,
                followingId,
                groupId,
                createTime
            ) values (
                #{userId},
                #{followingId},
                #{groupId},
                #{createTime}
            )
    </insert>
    <delete id="deleteUserFollowing">
        delete from
        t_user_following
        where
        userId = #{userId}
        and
        followingId = #{followingId}
    </delete>
    <select id="getUserFollowings" parameterType="java.lang.Long"
            resultType="com.zzd.giligili.domain.UserFollowing">
        select
            *
            from
            t_user_following
            where
            userId = #{userId}
    </select>
    <select id="getUserFans" resultType="com.zzd.giligili.domain.UserFollowing">
        select
            *
            from
                t_user_following
            where
                followingId = #{followingId}
    </select>
    <select id="isFollowing" resultType="com.zzd.giligili.domain.UserFollowing">
        select
            *
            from
            t_user_following
            where
            followingId = #{videoUserId}
            and
            userId = #{userId}
    </select>

</mapper>
